* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}


/*GLOBAL*/
#header {
   display: flex;
   background-color: #616564;
   padding: 2px;
   align-items: flex-start;
}

#header p {
    color: #1dfdd7;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
}

#header img {
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
}

.imagen__main {
    height: auto;
    width: 100px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 0;

}

.main__contacto {
    display: flex;
    color: #616564;
    margin-right:10px;
    margin-left: 0;
    padding: 0%;
}

.main__info{
    display: flex;
    color: #616564;
    margin-right: 100px;
    padding: 0%;
}

.main__icono {
    display: flex;
    margin-top: 0%;
    
}

.main__boton{
    display: flex;
    margin-right: 40px;
    padding: 10px;
}

@media (max-width: 800px) {
    .imagenmanos img {
        height: auto;
        width: 400px;
        text-align: center;
    }
}


.footer {
    display: flex;
    background-color:#616564;
    padding: 70px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer h5 {
    color:#1dfdd7
}
.footer p {
  color: #1dfdd7;
  margin-right: 160px;
  margin-left: 0%;
}

.footer__iconos {
    list-style: none;
    justify-content: flex-start;
    padding: 10px;
}
.footer__logo img{
   height: auto;
    width: 100px;
    margin-left: 70px;
    padding: 0;
}  

.footer__imagen img{
    height: auto;
    width: 100px;
} 


@media (max-width: 814px) {
    .footer__imagen img {
        display: none;
    }
    .footer__logo {
       display: none;
    }
    .footer p {
        margin-right: 0;
        margin-left: px;
    }
    .footer h5{
        margin-right: 0px;
        margin-left: 0px;
    }
    .footer {
        justify-content: space-around;
    }
}

/*SERVICIOS*/ 

.trabajos__p {
   color:rgb(98, 100, 102);
}
